.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")


	button.btn.btn_primary Подробнее о продукте
	button.btn.btn_secondary.btn_secondary-1 Скачать презентацию компании
	button.btn.btn_secondary.btn_secondary-2 Получить презентацию продуктов на email
	button.btn.btn_secondary.btn_secondary-3 Скачать сертификат
	button.btn.btn_green Задать свой вопрос