doctype html
html(lang="ru")
	include global/head.pug
	body.home
		include global/header.pug
		//main
		main.wrapper
			include home/first.pug
			include home/new.pug
			include home/standarts.pug
			include home/faq.pug
			include home/map.pug
			include global/footer.pug
			include global/modal.pug
			include global/scripts.pug
			include pages/pages.pug
