<!DOCTYPE html>
html(lang="ru")
	include global/head
	body
		include global/header.pug
		main.wrapper
			include ui/1-typography.pug
			include ui/2-buttons.pug
		include global/footer.pug
		include global/scripts.pug
		include pages/pages.pug
