//footer
footer.footer
    .container
        .footer__head
            button.burger.footer__burger
            nav.footer__nav
                ul.footer__list
                    li
                        a(href="product-section").footer__link Наши продукты
                    li
                        a(href="advantages-section").footer__link Преимущества
                    li
                        a(href="where-section").footer__link Где купить
            a(href="./").footer__logo
            nav.footer__nav
                ul.footer__list
                    li
                        a(href="about-section").footer__link О бренде
                    li
                        a(href="partner-section").footer__link Партнерам
                    li
                        a(href="faq-section").footer__link Вопросы
        .footer__inner
            p ООО «Парус»
            span 214018, Россия, г. Смоленск, ул. Ново-Рославльская, 11-15
                br
                | телефон/факс:
            a(href="tel:+74812565688").footer__tel +7 (4812) 56-56-88
            a(href="mailto:info@dc-pаrus.ru").footer__mail e-mаil: info@dc-pаrus.ru
                br
                | www.myboz.ru
        .footer__bott
            .footer__social
                a(href="#").footer__icon
                    svg.icon
                        use(xlink:href='images/sprite/sprite.svg#icon-fb')
                a(href="#").footer__icon
                    svg.icon
                        use(xlink:href='images/sprite/sprite.svg#icon-tw')
                a(href="#").footer__icon
                    svg.icon
                        use(xlink:href='images/sprite/sprite.svg#icon-ig')
            .footer__rights © 2019 «BOZ» All right reserved