//header
header.header
    .container
        button.burger
        nav.nav#menu
            button.close-menu
                i.close-menu__icon
            ul.header__list
                li
                    a(href="product-section").header__link Продукты
                li
                    a(href="advantages-section").header__link Преимущества
                li
                    a(href="where-section").header__link Где купить
            ul.header__list
                li
                    a(href="about-section").header__link О бренде
                li
                    a(href="partner-section").header__link Партнерам
                li
                    a(href="faq-section").header__link Вопросы
        a.logo(href="./")
        button.btn.btn_order.btn_green Заявка
            img(src="images/icon-pen.png")