//header
header.header
    .container
        button.burger
        nav.nav#menu
            button.close-menu
                i.close-menu__icon
            ul.header__list
                li
                    a(href="#").header__link Продукты
                li
                    a(href="#").header__link Преимущества
                li
                    a(href="#").header__link Где купить
            ul.header__list
                li
                    a(href="#").header__link О бренде
                li
                    a(href="#").header__link Партнерам
                li
                    a(href="#").header__link Вопросы
        a.logo(href="./")
        button.btn.btn_order.btn_green Заявка
            img(src="images/icon-pen.png")