.product-page
  .product-page__wrapper
    button.product-page__close
      span Закрыть
      +icon('close-circle')
    .product-page__slider
      .product-page__control
        button.prev
          +icon('product-arrow')
        button.next
          +icon('product-arrow')
      .product-page__slider-container
        .product-page__item
          .product-page__pic
            img(src="images/product-page-1.jpg", alt="")
          .product-page__content
            .product-page__title BOZ дуст от клопов
            .product-page__art Арт. 234567890
            .product-page__toggler
              .product-page__toggler-wrapper
                div
                  +icon('filter-arrow')
                button.active
                  span Описание
                button
                  span Свойства
                button 
                  span Применение
            .product-page__text A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar
            .product-page__table
              div
                span Item one
                span First value
              div
                span Item two
                span Second value
              div
                span Item three
                span Third value
            button.btn.btn_green
              span Задать свой вопрос
              img(src="images/icon-horn.png")
        //- .product-page__item
        //-   .product-page__pic
        //-     img(src="images/product-page-2.jpg", alt="")
        //-   .product-page__content
        //-     .product-page__title BOZ дуст от клопов
        //-     .product-page__art Арт. 234567890
        //-     .product-page__toggler
        //-       .product-page__toggler-wrapper
        //-         div
        //-           +icon('filter-arrow')
        //-         button.active
        //-           span Описание
        //-         button 
        //-           span Свойства
        //-         button 
        //-           span Применение
        //-     .product-page__text A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar
        //-     .product-page__table
        //-       div
        //-         span Item one
        //-         span First value
        //-       div
        //-         span Item two
        //-         span Second value
        //-       div
        //-         span Item three
        //-         span Third value
        //-     button.btn.btn_green
        //-       span Задать свой вопрос
        //-       img(src="images/icon-horn.png")
        //- .product-page__item
        //-   .product-page__pic
        //-     img(src="images/product-page-3.jpg", alt="")
        //-   .product-page__content
        //-     .product-page__title BOZ дуст от клопов
        //-     .product-page__art Арт. 234567890
        //-     .product-page__toggler
        //-       .product-page__toggler-wrapper
        //-         div
        //-           +icon('filter-arrow')
        //-         button.active
        //-           span Описание
        //-         button 
        //-           span Свойства
        //-         button 
        //-           span Применение
        //-     .product-page__text A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar
        //-     .product-page__table
        //-       div
        //-         span Item one
        //-         span First value
        //-       div
        //-         span Item two
        //-         span Second value
        //-       div
        //-         span Item three
        //-         span Third value
        //-     button.btn.btn_green
        //-       span Задать свой вопрос
        //-       img(src="images/icon-horn.png")