.popup-form#question-form
  .popup-form__close
    +icon('close-circle')
  section.form
    .container
        h2.h2.form__title Задать свой вопрос
        form.form__request
            .form__group
                input.form__input(placeholder="Ваше имя" required)
            .form__group
                input.form__input(type="email" placeholder="E-mail для ответа" required)
            .form__group.full
                textarea.form__input.form__area(placeholder="Вопрос" required)
            .form__group
                button.btn.btn_green
                    span Отправить
                    img(src="images/icon-horn.png")
        p Нажимая кнопку «Отправить», я подтверждаю свое согласие на обработку моих персональных данных.