/*==========================================================================
	 FIRST
	 ===========================================================================*/
.first{
  position: relative;


  &__wrapper {
    position: relative;
  }

  &__scroll-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    padding: 0 25px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: calc(100% - 50px) 50px;

    svg {
      width: 18px;
      height: 31px;
      fill: none;
      stroke: #ffffff;
      transform: rotate(-90deg);
      margin-right: 30px;
    }

    @include mq('laptop') {
      display: flex;
      align-items: center;
      color: #ffffff;
      opacity: .7;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      transition: 300ms ease all;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__slider {
    
    @include mq('tablet') {
      max-height: 700px;
      min-height: 700px;
      overflow: hidden;
    }

    @include mq('laptop') {
      max-height: 700px;
      min-height: 700px;
    }

    @include mq('desktop') {
      max-height: 850px;
      min-height: 850px;
    }

    .slick-dots {
      transform: translateY(-40px);
      display: flex;
      justify-content: center;

      li {
        width: 10px;
        height: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 1px;

        &.slick-active {
          button {
  
            &::before {
              background: #fff;
            }
          }
        }

        button {
          width: 7px;
          height: 7px;
          padding: 0;

          &::before {
            width: 7px;
            height: 7px;
            content: '';
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 1;
          }
        }
      }
    }
  }

  &__item {
    height: 600px;
    padding: 70px 20px 45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq('tablet') {
      z-index: 0;
      opacity: 1;
      filter: blur(10px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 150px 80px 80px;
      max-height: 700px;
      height: 700px;
      z-index: 0;
      opacity: 0;
    }

    @include mq('laptop') {
      padding: 200px 40px 120px;
      max-height: 700px;
    }

    @include mq('desktop') {
      padding: 270px 80px 160px;
      max-height: 950px;
      height: 850px;
    }

    @include mq('tablet') {
      padding: 0;
      transition: 1000ms ease all;
    }

    &.active {
      z-index: 1;
      opacity: 1;
      filter: none;
    }

    &_green {
      background-image: url('../images/bg-green.jpg');
    }

    &_brown {
      background-image: url('../images/bg-brown.jpg');
    }

    &_orange {
        background-image: url('../images/bg-orange.jpg');
    }
  }

  &__item-wrapper {
    max-width: 320px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include mq('tablet') {
      width: 50%;
      margin-right: auto;
      margin-left: calc(100%/2 - 307px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    @include mq('laptop') {
      max-width: 463px;
      width: 50%;
      margin-right: auto;
      margin-left: calc(100%/2 - 463px);
    }

    @include mq('desktop') {
      max-width: 650px;
      width: 50%;
      margin-right: auto;
      margin-left: calc(100%/2 - 650px);
    }
  }

  &__title {
    color: #ffffff;
    font-family: "ProxiLt";
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;

    b {
      font-family: "ProxiReg";
      font-weight: 700;
    }

    @include mq('tablet') {
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 30px;
    }

    @include mq('laptop') {
      font-size: 43px;
      line-height: 50px;
    }

    @include mq('desktop') {
      font-size: 57px;
      line-height: 60px;
      margin-bottom: 40px;
    }
  }

  &__description {
    opacity: 0.8;
    color: #ffffff;
    font-size: 13px;
    line-height: 14px;

    @include mq('tablet') {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 40px;
    }

    @include mq('laptop') {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 45px;
    }

    @include mq('desktop') {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 65px;
    }
  }

  &__pic {
    width: 100%;
    max-width: 300px;
    transform: translateX(10%);
    margin: auto;
    margin-bottom: -15%;

    @include mq('tablet') {
      max-width: 500px;
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-35%);
    }

    @include mq('laptop') {
      max-width: 600px;
    }

    @include mq('desktop') {
      max-width: 800px;
    }
  }

  &__more {
    z-index: 2;
    margin: auto;
    margin-top: auto;
    margin-bottom: 0;
    width: 250px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    min-height: 48px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    padding: 0 25px;
    transition: 300ms all ease;

    &:hover {
      background: #fff;
      color: #02826e;
      svg {
        fill:#02826e;
      }
    }

    @include mq('tablet') {
      margin: 0;
    }

    @include mq('laptop') {
      height: 60px;
      min-height: 60px;
      width: 370px;
      font-size: 16px;
      line-height: 16px;
      padding: 0 50px;
    }

    svg {
      transition: 300ms all ease;
      width: 17px;
      height: 12px;
    }
  }

  &__tumbler {
    z-index: 2;
    position: relative;
    display: none;

    @include mq('tablet') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tumble {
    flex-grow: 1;
    position: relative;
    padding: 50px 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms ease all;
    cursor: pointer;
    background-color: darken(#02826e,5%);

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, darken(#02826e, 1%), lighten(#02826e, 1%));
      opacity: .7;
      transition: 300ms ease all;
    }

    &:hover {
      &::after  {
        opacity: 0.3;
      }
    }

    &.active {
      &::before {
        background: #00ff53;
        content: '';
        width: 80%;
        height: 50px;
        position: absolute;
        transform: translateY(70%);
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        filter: blur(10px);
        border-radius: 50%;
      }

      &::after {
        opacity: 0;
      }
    }

    &.brown {
      background-color: darken(#8B765A,5%);
      &::after {
        background: linear-gradient(to right, darken(#8B765A, 1%), lighten(#8B765A, 1%));
      }

      &.active {
        &::before {
          background: #fff;
        }
      }
    }

    &.orange {
      background-color: darken(#D0701A,5%);
      &::after {
        background: linear-gradient(to right, darken(#D0701A, 1%), lighten(#D0701A, 1%));
      }

      &.active {
        &::before {
          background: #F0FF00;
        }
      }
    }

    img {
      width: 128px;
      height: 134px;
      margin-bottom: 24px;
      display: block;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      text-transform: uppercase;
      text-align: center;
    }

    
  }
}
/* end first */