/*==========================================================================
	 FIRST
	 ===========================================================================*/
.first{
  min-height: 1084px;
  background: url("../images/bg-head.jpg") no-repeat;
  background-size: cover;
}
/* end first */