@import "_functions.scss";
//
//1. FONTS
//

//NEW INCLUDE FONTS FROM MIXIN
@include font-face('ProxiReg', '../fonts/ProximaNovaReg', 400, normal, eot woff ttf woff2);
@include font-face('ProxiBold', '../fonts/ProximaNovaBold', 700, normal, eot woff ttf woff2);


$font-family-main: 'ProxiReg', "Times New Roman", serif;
$font-family-bold: 'ProxiBold';
$font-family-plumb: 'Plumb';

//SIZE
$font-size-main: 16px;
$font-size-h1: 54px;
$font-size-h2: 52px;
$font-size-btn:24px;


//LINE HEIGHT
$line-height-main: 1.2;


//WEIGHT
$font-weight-main: 400;


//
//2. COLORS
//
$color-white: #fff;
$color-black: #393939;
$color-grey:#4a4a4a;

//3. BUTTONS
$button: (
	max-width: 100%,
	min-width: 240px,
	padding:0 10px,
	height: 60px,
	line-height: 60px,
	font-family: $font-family-main,
	font-size: 16px,
	font-weight: $font-weight-main,
	border-radius: 30px
);

// 5. @MEDIA QUERIES
//
$breakpoints: (
	"phone":   320px,
	"tablet":       768px,
	"laptop":      1024px,
	"desktop":      1440px,
	"desktop-max":      1920px,
);

//
// 6. Z-INDEX ELEMENTS
//

$z-layers: (
	back: -1,
	default: 1,
	button: 3
);
