//docs
section.docs#partner-section
    .docs__block
        .docs__img
            img(src="images/doc-img1.jpg")
        .docs__info
            span Партнерам
            h2.h2.docs__title Условия
            p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
            button.btn.btn_secondary.btn_secondary-3 Скачать партнерское соглашение

    .docs__block
        .docs__info.docs__info-order
            h2.h2.docs__title Документация
            p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
            button.btn.btn_secondary.btn_secondary-3 Скачать сертификат
        .docs__img
            img(src="images/doc-img2.jpg")
