section.faq#faq-section
  .container
    h2 Нас часто спрашивают…
    .faq__description Зачастую при общении с потенциальными клиентами, партнерами, покупателями, а то и просто в процессе делового общения, мы слышим одни и те же вопросы, ответы на которые требуют довольно много времени. Чтобы сэкономить его и Вам и нам, приводим наиболее часто встречающиеся вопросы здесь. 
    .faq__slider
      .faq__item
        div Do you think there is an afterlife for animals other than human beings?
        p Ut volutpat iaculis velit sed cursus. Nam vestibulum pretium tristique. Nulla vitae molestie nulla. Etiam fermentum urna sit amet leo lacinia imperdiet. 
      .faq__item
        div How many golf balls can fit in a school bus?
        p Pellentesque velit sapien, tempor nec dignissim in, maximus et est. Maecenas interdum vestibulum nibh efficitur ullamcorper. 
      .faq__item
        div How much should you charge to wash all the windows in seattle?
        p Praesent efficitur interdum tempus. Maecenas porttitor sapien hendrerit, pretium eros quis, cursus purus. Nulla blandit est odio, ac fermentum ante pharetra sed. 
      .faq__item
        div Do you think there is an afterlife for animals other than human beings?
        p Ut volutpat iaculis velit sed cursus. Nam vestibulum pretium tristique. Nulla vitae molestie nulla. Etiam fermentum urna sit amet leo lacinia imperdiet. 
      .faq__item
        div How many golf balls can fit in a school bus?
        p Pellentesque velit sapien, tempor nec dignissim in, maximus et est. Maecenas interdum vestibulum nibh efficitur ullamcorper. 
      .faq__item
        div How much should you charge to wash all the windows in seattle?
        p Praesent efficitur interdum tempus. Maecenas porttitor sapien hendrerit, pretium eros quis, cursus purus. Nulla blandit est odio, ac fermentum ante pharetra sed. 
    button.btn.btn_green 
      span Задать свой вопрос
      img(src="images/icon-horn.png")