//first
section.first
  .first__wrapper
    .first__scroll-btn 
      +icon('scroll-down')
      span scroll down
    .first__slider
      .first__item.first__item_green.active#first-item-green
        .first__item-wrapper
          .first__title Все стараются убивать,<br> <b>а наши сами уходят!</b>
          .first__description Представляем продукт BOZ дуст для защиты от клопов  в новой приятной на ощупь упаковке, которая в то же время обеспечивает максмальную безопасность от воздействия средства для вас и ваших близких
          .first__pic
            img(src="images/product-1.png", alt="product")
          a(href="#").first__more(data-number="1")
            span Подробнее о продукте
            +icon('arrow-next')
      .first__item.first__item_brown#first-item-brown
        .first__item-wrapper
          .first__title Все стараются убивать,<br> <b>а наши сами уходят!</b>
          .first__description Представляем продукт BOZ дуст для защиты от клопов  в новой приятной на ощупь упаковке, которая в то же время обеспечивает максмальную безопасность от воздействия средства для вас и ваших близких   в то же время обеспечивает максмальную безопасность от воздействия средства для вас и ваших близких
          .first__pic
            img(src="images/product-2.png", alt="product")
          a(href="#").first__more(data-number="2")
            span Подробнее о продукте
            +icon('arrow-next')
      .first__item.first__item_orange#first-item-orange
        .first__item-wrapper
          .first__title Все стараются убивать,<br> <b>а наши сами уходят!</b>
          .first__description Представляем продукт BOZ дуст для защиты от клопов  в новой приятной  воздействия средства для вас и ваших близких
          .first__pic
            img(src="images/product-3.png", alt="product")
          a(href="#").first__more(data-number="3")
            span Подробнее о продукте
            +icon('arrow-next')
  .first__tumbler
    .first__tumble.active(data-color="green")
      img(src="images/tumble-1.png", alt="product")
      p Дуст для<br> защиты<br> от клопов
    .first__tumble(data-color="brown")
      img(src="images/tumble-2.png", alt="product")
      p Дуст для<br> защиты<br> от муравьёв
    .first__tumble(data-color="orange")
      img(src="images/tumble-3.png", alt="product")
      p Дуст для<br> защиты<br> от тараканов