section.map
  h2 Где купить продукцию BOZ
  .map__filter
    button
      span Все города
    button
      span Новосибирск
    button
      span Омск
    button
      span Кемерово
    button
      span Иркутск
  .map__content
    