//new
section.new#about-section
    .container
        .new__left
            .new__about О бренде
            .new__title BOZ – новое слово в решении старой проблемы
            .new__text Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            a(href="#").btn.btn_secondary.btn_secondary-1 Скачать презентацию компании
        .new__right
            .new__text.new__text_right
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .new__text.new__text_grey
                | Far far away, behind the word mountains. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.  Far far away, behind the word mountains. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            a(href="#").new__link
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            a(href="#").btn.btn_secondary.btn_secondary-1.btn_end Скачать презентацию компании