section.products#product-section
  .container
    .products__title О продуктах
    h2 Каждой букашке – свой BOZ!
    p.products__description Линейка продуктов BOZ строго позиционирована на конкретных вредителей. В скором будущем ассортиментный ряд пополнится продуктами для защиты от моли и мух.
  .products__content
    .card-product
      .card-product__wrapper
        .card-product__pic
          img(src="images/product-1.jpg", alt="product")
        .card-product__content
          .card-product__title.card-product__title_green BOZ дуст для защиты от клопов
          p.card-product__description Far far away, behind the word mountains, far from the countries Vokalia Far far away, behind the word mountains, far from the countries Vokalia 
          a(href="#", data-number="1").card-product__more
            span Продукт подробно
            +icon('arrow-more')
    .card-product
      .card-product__wrapper
        .card-product__pic
          img(src="images/product-2.jpg", alt="product")
        .card-product__content
          .card-product__title.card-product__title_brown BOZ дуст для защиты от муравьёв
          p.card-product__description Far far away, behind the word mountains, far from the countries Vokalia Far far away, behind the word mountains, far from the countries Vokalia 
          a(href="#" data-number="2").card-product__more
            span Продукт подробно
            +icon('arrow-more')
    .card-product
      .card-product__wrapper
        .card-product__pic
          img(src="images/product-3.jpg", alt="product")
        .card-product__content
          .card-product__title.card-product__title_orange BOZ дуст для защиты от тараканов
          p.card-product__description Far far away, behind the word mountains, far from the countries Vokalia Far far away, behind the word mountains, far from the countries Vokalia 
          a(href="#" data-number="3").card-product__more
            span Продукт подробно
            +icon('arrow-more')
  a(href="#").btn.btn_secondary.btn_secondary-2.btn_end Получить презентацию продуктов на email


        
        