//standarts
section.standarts
    .container
        .standarts__text
            h2.standarts__title Новые стандарты качества и эффективности
            .standarts__item
                img.standarts__num(src="images/num1.png")
                .standarts__desc
                    p Эффективность нового уровня
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
            .standarts__item
                img.standarts__num(src="images/num2.png")
                .standarts__desc
                    p Готов к использованию
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
            .standarts__item
                img.standarts__num(src="images/num3.png")
                .standarts__desc
                    p Максимально экономичен
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .standarts__imgs
            img(src="images/dust1.png")
            img(src="images/dust2.png")
            img(src="images/dust3.png")
        .standarts-email
            .standarts-email__text
                p Вышлем КП на e-mail:
                span We'll never share your email address and you can opt out at any time, we promise
            form.standarts-email__form
                input.standarts-email__input(type="email" placeholder="Введите Ваш E-mail" required)
                button.standarts-email__btn(type="submit") Прислать