//standarts
section.standarts
    .container
        .standarts__text
            h2.standarts__title Новые стандарты качества и эффективности
            .standarts__item
                img.standarts__num(src="images/num1.png")
                .standarts__desc
                    p Эффективность нового уровня
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
            .standarts__item
                img.standarts__num(src="images/num1.png")
                .standarts__desc
                    p Эффективность нового уровня
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
            .standarts__item
                img.standarts__num(src="images/num1.png")
                .standarts__desc
                    p Эффективность нового уровня
                    span Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .standarts__imgs