//try
section.try#advantages-section
    .container
        h2.try__title Почему стоит попробовать продукты BOZ?
        .try__inner
            .try__item
                p Высокая эффективность
                img.try__img(src="images/try-item.png")
                span Продукты компании дейсвительно решают проблему вредителей, а не маскируют её
            .try__item
                p Гарантированная безопасность
                img.try__img(src="images/try-item.png")
                span Продукт продается уже готовым к применению, вместе с тем абсолютно безопасен в закрытом виде
            .try__item
                p Достойная экономичность
                img.try__img(src="images/try-item.png")
                span Содержимого одного пакета достаточно для обработки помещения площадью около 30м2