/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"]{
	//position
	position: relative;
	z-index: z(button);
	//box mmodel
	display: inline-block;
	vertical-align: middle;
	padding: btn(padding);
	min-width: btn(min-width);
	max-width: btn(max-width);
	height: btn(height);
	//font
	font-family: btn(font-family);
	@include font-size(btn(font-size));
	line-height: btn(line-height);
	font-weight: btn(font-weight);
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	// other
	overflow: hidden;
	border-radius: btn(border-radius);
	cursor: pointer;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: inherit;
	z-index: 1;
	transition: all .3s ease;
	&:focus{
		outline:none;
	}
	&:hover{
		cursor: pointer;
	}
}

//btn_primary

.btn_primary{
	padding: 0 117px 0 54px;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	background: transparent;
	color:$color-white;
	background: url("../images/arrow-right.png") no-repeat;
	background-position: 86% 50%;
}

//btn_secondary

.btn_secondary{
	padding: 0 72px 0 29px;
	color:$color-grey;
	border: 1px solid $color-grey;
	max-width: 368px;
	@include mq	('tablet', 'max'){
		max-width: 250px;
		height: 48px;
		font-size: 14px;
		text-align: right;
		padding-right: 64px;
		line-height: 48px;
	}
}

.btn_secondary-1{
	background: url("../images/down-1.png") no-repeat 90% 50%;
}

.btn_secondary-2{
	background: url("../images/down-pdf.png") no-repeat 90% 50%;
}

.btn_secondary-3{
	background: url("../images/down-3.png") no-repeat 90% 50%;
}

//btn_green

.btn_green{
	padding: 0 100px 0 63px;
	box-shadow: 0 2px 0 rgba(37, 64, 19, 0.48), inset 0 1px 3px rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.19);
	background: linear-gradient(180deg, #b4ec51 0%, #429321 100%), url("../images/icon-horn.png");
	background-position: 86% 50%;
	background-repeat: no-repeat;
	color: $color-white;
	letter-spacing: 1.16px;
	font-size: 18px;
}

.btn_order{
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 10px;
	height: 35px;
	max-width: 136px;
	min-width: 136px;
	line-height: 35px;
	font-size: 14px;
	border: 1px solid rgba(255, 255, 255, 0.19);	background: linear-gradient(180deg, #b4ec51 0%, #429321 100%), url("../images/icon-pen.png");
	background-repeat: no-repeat;
	img{
		position: absolute;
		right: 19px;
		top: 7px;
		@include mq('tablet', 'max'){
			right: 6px;
			top: 5px;
		}
	}
	@include mq('tablet', 'max'){
		min-width: 32px;
		max-width: 32px;
		height: 32px;
		font-size: 0;
		border: 1px solid rgba(255, 255, 255, 0.19);
		border-radius: 18px;
		box-shadow: 0 2px 0 rgba(37, 64, 19, 0.48), inset 0 1px 3px rgba(255, 255, 255, 0.5);
		background-image: linear-gradient(180deg, #b4ec51 0%, #429321 100%);
	}
}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}



/* end buttons*/
