.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-more {
	font-size:(11/10)*1rem;
	width:(6/11)*1em;
}
.icon-arrow-next {
	font-size:(12/10)*1rem;
	width:(17/12)*1em;
}
.icon-close-circle {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-map-marker-alt {
	font-size:(34/10)*1rem;
	width:(25/34)*1em;
}
.icon-scroll-down {
	font-size:(31/10)*1rem;
	width:(18/31)*1em;
}
